openapi: 3.0.3
info:
  title: Fingerprint Server API
  description: |
    Fingerprint Server API allows you to search, update, and delete identification events in a server environment. It can be used for data exports, decision-making, and data analysis scenarios.
    Server API is intended for server-side usage, it's not intended to be used from the client side, whether it's a browser or a mobile device.
  version: '4'
  contact:
    name: Fingerprint Support
    email: support@fingerprint.com
  license:
    name: MIT
    url: https://github.com/fingerprintjs/fingerprint-pro-server-api-openapi/blob/main/LICENSE
servers:
  - url: https://api.fpjs.io/v4
    description: Global
  - url: https://eu.api.fpjs.io/v4
    description: EU
  - url: https://ap.api.fpjs.io/v4
    description: Asia (Mumbai)
security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []
tags:
  - name: Event
    description: |
      Get, update, or search for information about events.
paths:
  /events/{event_id}:
    get:
      tags:
        - Event
      operationId: getEvent
      summary: Get event by event Id
      description: |
        Get a detailed analysis of an individual identification event, including Smart Signals.
        Use `event_id` as the URL path parameter. This API method is scoped to a request, i.e. all returned information is by `event_id`.
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
          description: The unique [identifier](https://dev.fingerprint.com/reference/get-function#event_id) of each identification request.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              examples:
                200-ok:
                  summary: Example response
                  value:
                    linked_id: somelinkedId
                    tags: {}
                    timestamp: 1708102555327
                    event_id: 1708102555327.NLOjmg
                    url: https://www.example.com/login?hope{this{works[!
                    ip_address: 61.127.217.15
                    user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                    browser_details:
                      browser_name: Chrome
                      browser_major_version: '74'
                      browser_full_version: 74.0.3729
                      os: Windows
                      os_version: '7'
                      device: Other
                    identification:
                      visitor_id: Ibk1527CUFmcnjLwIs4A9
                      confidence:
                        score: 0.97
                      visitor_found: false
                    bot: not_detected
                    root_apps: false
                    emulator: false
                    ip_info:
                      v4:
                        address: 94.142.239.124
                        geolocation:
                          accuracy_radius: 20
                          latitude: 50.05
                          longitude: 14.4
                          postal_code: 150 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - iso_code: '10'
                              name: Hlavni mesto Praha
                        asn:
                          asn: '7922'
                          name: COMCAST-7922
                          network: 73.136.0.0/13
                        datacenter:
                          result: true
                          name: DediPath
                      v6:
                        address: 2001:db8:3333:4444:5555:6666:7777:8888
                        geolocation:
                          accuracy_radius: 5
                          latitude: 49.982
                          longitude: 36.2566
                          postal_code: '10112'
                          timezone: Europe/Berlin
                          city:
                            name: Berlin
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - iso_code: BE
                              name: Land Berlin
                        asn:
                          asn: '6805'
                          name: Telefonica Germany
                          network: 2a02:3100::/24
                        datacenter:
                          result: false
                          name: ''
                    ip_block_list:
                      email_spam: false
                      attack_source: false
                      tor_node: false
                      proxy: true
                      proxy_confidence: low
                      proxy_details:
                        proxy_type: residential
                        last_seen_at: '2025-08-12T13:00:00Z'
                    vpn: false
                    vpn_confidence: high
                    vpn_origin_timezone: Europe/Berlin
                    vpn_origin_country: unknown
                    vpn_methods:
                      timezone_mismatch: false
                      public_vpn: false
                      auxiliary_mobile: false
                      os_mismatch: false
                      relay: false
                    incognito: false
                    tampering: false
                    tampering_details:
                      anomaly_score: 0.1955
                      anti_detect_browser: false
                    cloned_app: false
                    factory_reset:
                      time: '1970-01-01T00:00:00Z'
                      timestamp: 0
                    jailbroken: false
                    frida: false
                    privacy_settings: false
                    virtual_machine: false
                    location_spoofing: false
                    velocity:
                      distinct_ip:
                        5m: 1
                        1h: 1
                        24h: 1
                      distinct_country:
                        5m: 1
                        1h: 2
                        24h: 2
                      events:
                        5m: 1
                        1h: 5
                        24h: 5
                      ip_events:
                        5m: 1
                        1h: 5
                        24h: 5
                      distinct_ip_by_linked_id:
                        5m: 1
                        1h: 5
                        24h: 5
                      distinct_visitor_id_by_linked_id:
                        5m: 1
                        1h: 5
                        24h: 5
                    developer_tools: false
                    mitm_attack: false
                    sdk:
                      platform: js
                      version: 3.11.10
                    replayed: false
        '400':
          description: Bad request. The event Id provided is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400-bad-request:
                  summary: Error response when the provided event Id is invalid.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: event_id is invalid.
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: token_required
                      message: secret key is required
                403-token-not-found:
                  summary: Error response when the provided secret API key does not exist.
                  value:
                    error:
                      code: token_not_found
                      message: secret key is not found
                429-too-many-requests-error:
                  summary: Too many requests error
                  value:
                    error:
                      code: too_many_requests
                      message: too many requests
        '404':
          description: Not found. The event Id cannot be found in this application's data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                404-request-not-found:
                  summary: Error response when the provided event Id does not exist.
                  value:
                    error:
                      code: event_not_found
                      message: event Id is not found
        '500':
          description: Application error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                500-error:
                  summary: Request failed
                  value:
                    error:
                      code: failed
                      message: internal server error
    patch:
      tags:
        - Event
      operationId: updateEvent
      summary: Update select fields of an event using an event Id
      description: |
        Change information in existing events specified by `event_id` or *flag suspicious events*.

        When an event is created, it can be assigned `linked_id` and `tags` submitted through the JS agent parameters. 
        This information might not have been available on the client initially, so the Server API permits updating these attributes after the fact.

        **Warning** It's not possible to update events older than one month. 

        **Warning** Trying to update an event immediately after creation may temporarily result in an 
        error (HTTP 409 Conflict. The event is not mutable yet.) as the event is fully propagated across our systems. In such a case, simply retry the request.
      parameters:
        - name: event_id
          in: path
          required: true
          schema:
            type: string
          description: The unique event [identifier](https://dev.fingerprint.com/reference/get-function#event_id).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad request. The request payload is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  summary: Error response when the specified request payload is not valid and cannot be parsed.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: request body is not valid
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: token_required
                      message: secret key is required
                403-token-not-found:
                  summary: Error response when the provided secret API key does not exist.
                  value:
                    error:
                      code: token_not_found
                      message: secret key is not found
                403-wrong-region:
                  summary: Error response when the API region is different from the region, the calling application is configured with.
                  value:
                    error:
                      code: wrong_region
                      message: wrong region
        '404':
          description: Not found. The event Id cannot be found in this application's data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                404-request-not-found:
                  summary: Error response when the provided event Id does not exist.
                  value:
                    error:
                      code: event_not_found
                      message: event Id is not found
        '409':
          description: Conflict. The event is not mutable yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  summary: Error response when the event is not mutable yet.
                  value:
                    error:
                      code: state_not_ready
                      message: resource is not mutable yet, try again
  /events:
    get:
      tags:
        - Event
      operationId: getEvents
      summary: Query for events
      description: |
        Search for identification events, including Smart Signals, using multiple filtering criteria. If you don't provide `start` or `end` parameters, the default search range is the last 7 days.

        Smart Signals not activated for your workspace or are not included in the response.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 10
            example: 10
          description: |
            Limit the number of events returned.
        - name: pagination_key
          in: query
          schema:
            type: string
          description: |
            Use `pagination_key` to get the next page of results. 

            When more results are available (e.g., you requested up to 100 results for your query using `limit`, but there are more than 100 events total matching your request), the `pagination_key` field is added to the response. The key corresponds to the `timestamp` of the last returned event. In the following request, use that value in the `pagination_key` parameter to get the next page of results:

            1. First request, returning most recent 200 events: `GET api-base-url/events?limit=100`
            2. Use `response.pagination_key` to get the next page of results: `GET api-base-url/events?limit=100&pagination_key=1740815825085`
        - name: visitor_id
          in: query
          schema:
            type: string
          description: |
            Unique [visitor identifier](https://dev.fingerprint.com/reference/get-function#visitorid) issued by Fingerprint Pro.
            Filter for events matching this `visitor_id`.
        - name: bot
          in: query
          schema:
            type: string
            enum:
              - all
              - good
              - bad
              - none
          description: |
            Filter events by the Bot Detection result, specifically: 
              `all` - events where any kind of bot was detected.
              `good` - events where a good bot was detected.
              `bad` - events where a bad bot was detected.
              `none` - events where no bot was detected.
            > Note: When using this parameter, only events with the `botd.bot` property set to a valid value are returned. Events without a `botd` Smart Signal result are left out of the response.
        - name: ip_address
          in: query
          schema:
            type: string
          description: |
            Filter events by IP address or IP range (if CIDR notation is used). If CIDR notation is not used, a /32 for IPv4 or /128 for IPv6 is assumed. 
            Examples of range based queries: 10.0.0.0/24, 192.168.0.1/32
        - name: linked_id
          in: query
          schema:
            type: string
          description: |
            Filter events by your custom identifier. 

            You can use [linked Ids](https://dev.fingerprint.com/reference/get-function#linkedid) to associate identification requests with your own identifier, for example, session Id, purchase Id, or transaction Id. You can then use this `linked_id` parameter to retrieve all events associated with your custom identifier.
        - name: start
          in: query
          schema:
            type: integer
            format: int64
          description: |
            Filter events with a timestamp greater than the start time, in Unix time (milliseconds).
        - name: end
          in: query
          schema:
            type: integer
            format: int64
          description: |
            Filter events with a timestamp smaller than the end time, in Unix time (milliseconds).
        - name: reverse
          in: query
          schema:
            type: boolean
          description: |
            Sort events in reverse timestamp order.
        - name: suspect
          in: query
          schema:
            type: boolean
          description: |
            Filter events previously tagged as suspicious via the [Update API](https://dev.fingerprint.com/reference/updateevent). 
            > Note: When using this parameter, only events with the `suspect` property explicitly set to `true` or `false` are returned. Events with undefined `suspect` property are left out of the response.
        - name: vpn
          in: query
          schema:
            type: boolean
          description: |
            Filter events by VPN Detection result.  
            > Note: When using this parameter, only events with the `vpn` property set to `true` or `false` are returned. Events without a `vpn` Smart Signal result are left out of the response.
        - name: virtual_machine
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Virtual Machine Detection result.  
            > Note: When using this parameter, only events with the `virtual_machine` property set to `true` or `false` are returned. Events without a `virtual_machine` Smart Signal result are left out of the response.
        - name: tampering
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Browser Tampering Detection result.  
            > Note: When using this parameter, only events with the `tampering.result` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        - name: anti_detect_browser
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Anti-detect Browser Detection result.  
            > Note: When using this parameter, only events with the `tampering.anti_detect_browser` property set to `true` or `false` are returned. Events without a `tampering` Smart Signal result are left out of the response.
        - name: incognito
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Browser Incognito Detection result.  
            > Note: When using this parameter, only events with the `incognito` property set to `true` or `false` are returned. Events without an `incognito` Smart Signal result are left out of the response.
        - name: privacy_settings
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Privacy Settings Detection result.  
            > Note: When using this parameter, only events with the `privacy_settings` property set to `true` or `false` are returned. Events without a `privacy_settings` Smart Signal result are left out of the response.
        - name: jailbroken
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Jailbroken Device Detection result.  
            > Note: When using this parameter, only events with the `jailbroken` property set to `true` or `false` are returned. Events without a `jailbroken` Smart Signal result are left out of the response.
        - name: frida
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Frida Detection result.  
            > Note: When using this parameter, only events with the `frida` property set to `true` or `false` are returned. Events without a `frida` Smart Signal result are left out of the response.
        - name: factory_reset
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Factory Reset Detection result.  
            > Note: When using this parameter, only events with a `factory_reset` time. Events without a `factory_reset` Smart Signal result are left out of the response.
        - name: cloned_app
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Cloned App Detection result.  
            > Note: When using this parameter, only events with the `cloned_app` property set to `true` or `false` are returned. Events without a `cloned_app` Smart Signal result are left out of the response.
        - name: emulator
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Android Emulator Detection result.  
            > Note: When using this parameter, only events with the `emulator` property set to `true` or `false` are returned. Events without an `emulator` Smart Signal result are left out of the response.
        - name: root_apps
          in: query
          schema:
            type: boolean
          description: |
            Filter events by Rooted Device Detection result.  
            > Note: When using this parameter, only events with the `root_apps` property set to `true` or `false` are returned. Events without a `root_apps` Smart Signal result are left out of the response.
        - name: vpn_confidence
          in: query
          schema:
            type: string
            enum:
              - high,
              - medium
              - low
          description: |
            Filter events by VPN Detection result confidence level.  
            `high` - events with high VPN Detection confidence.
            `medium` - events with medium VPN Detection confidence.
            `low` - events with low VPN Detection confidence.
            > Note: When using this parameter, only events with the `vpn.confidence` property set to a valid value are returned. Events without a `vpn` Smart Signal result are left out of the response.
        - name: min_suspect_score
          in: query
          schema:
            type: number
            format: float
          description: |
            Filter events with Suspect Score result above a provided minimum threshold.
            > Note: When using this parameter, only events where the `suspect_score` property set to a value exceeding your threshold are returned. Events without a `suspect_score` Smart Signal result are left out of the response.
      responses:
        '200':
          description: Events matching the filter(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSearch'
              examples:
                200-ok:
                  summary: Example results
                  value:
                    events:
                      - linked_id: somelinkedId
                        tags: {}
                        timestamp: 1708102555327
                        event_id: 1708102555327.NLOjmg
                        url: https://www.example.com/login?hope{this{works[!
                        ip_address: 61.127.217.15
                        user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                        browser_details:
                          browser_name: Chrome
                          browser_major_version: '74'
                          browser_full_version: 74.0.3729
                          os: Windows
                          os_version: '7'
                          device: Other
                        identification:
                          visitor_id: Ibk1527CUFmcnjLwIs4A9
                          confidence:
                            score: 0.97
                          visitor_found: false
                        bot: not_detected
                        root_apps: false
                        emulator: false
                        ip_info:
                          v4:
                            address: 94.142.239.124
                            geolocation:
                              accuracy_radius: 20
                              latitude: 50.05
                              longitude: 14.4
                              postal_code: 150 00
                              timezone: Europe/Prague
                              city:
                                name: Prague
                              country:
                                code: CZ
                                name: Czechia
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - iso_code: '10'
                                  name: Hlavni mesto Praha
                            asn:
                              asn: '7922'
                              name: COMCAST-7922
                              network: 73.136.0.0/13
                            datacenter:
                              result: true
                              name: DediPath
                          v6:
                            address: 2001:db8:3333:4444:5555:6666:7777:8888
                            geolocation:
                              accuracy_radius: 5
                              latitude: 49.982
                              longitude: 36.2566
                              postal_code: '10112'
                              timezone: Europe/Berlin
                              city:
                                name: Berlin
                              country:
                                code: DE
                                name: Germany
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - iso_code: BE
                                  name: Land Berlin
                            asn:
                              asn: '6805'
                              name: Telefonica Germany
                              network: 2a02:3100::/24
                            datacenter:
                              result: false
                              name: ''
                        ip_block_list:
                          email_spam: false
                          attack_source: false
                          tor_node: false
                          proxy: true
                          proxy_confidence: low
                          proxy_details:
                            proxy_type: residential
                            last_seen_at: '2025-08-12T13:00:00Z'
                        vpn: false
                        vpn_confidence: high
                        vpn_origin_timezone: Europe/Berlin
                        vpn_origin_country: unknown
                        vpn_methods:
                          timezone_mismatch: false
                          public_vpn: false
                          auxiliary_mobile: false
                          os_mismatch: false
                          relay: false
                        incognito: false
                        tampering: false
                        tampering_details:
                          anomaly_score: 0.1955
                          anti_detect_browser: false
                        cloned_app: false
                        factory_reset:
                          time: '1970-01-01T00:00:00Z'
                          timestamp: 0
                        jailbroken: false
                        frida: false
                        privacy_settings: false
                        virtual_machine: false
                        location_spoofing: false
                        velocity:
                          distinct_ip:
                            5m: 1
                            1h: 1
                            24h: 1
                          distinct_country:
                            5m: 1
                            1h: 2
                            24h: 2
                          events:
                            5m: 1
                            1h: 5
                            24h: 5
                          ip_events:
                            5m: 1
                            1h: 5
                            24h: 5
                          distinct_ip_by_linked_id:
                            5m: 1
                            1h: 5
                            24h: 5
                          distinct_visitor_id_by_linked_id:
                            5m: 1
                            1h: 5
                            24h: 5
                        developer_tools: false
                        mitm_attack: false
                        sdk:
                          platform: js
                          version: 3.11.10
                        replayed: false
                    pagination_key: '1708102555327'
        '400':
          description: Bad request. One or more supplied search parameters are invalid, or a required parameter is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400-limit-invalid:
                  summary: Error response when no limit is supplied, or is invalid.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid limit
                400-ip-address-invalid:
                  summary: Error response when an invalid IP address is supplied, or is not using CIDR notation.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid ip address
                400-bot-type-invalid:
                  summary: Error response when an invalid bot type is specified, must be one of `good`, `bad`, `all`, or `none`.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid bot type
                400-reverse-invalid:
                  summary: Error response when the reverse parameter is invalid.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid reverse param
                400-start-time-invalid:
                  summary: Error response when an invalid start time is supplied.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid start time
                400-end-time-invalid:
                  summary: Error response when an invalid end time is supplied.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid end time
                400-visitor-id-invalid:
                  summary: Error response when an invalid visitor Id is supplied.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid visitor id
                400-linked-id-invalid:
                  summary: Error response when an invalid (too large) linked Id is supplied.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: linked_id can't be greater than 256 characters long
                400-pagination-key-invalid:
                  summary: Error response when an invalid pagination key is supplied.
                  value:
                    error:
                      code: request_cannot_be_parsed
                      message: invalid pagination key
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: token_required
                      message: secret key is required
                403-token-not-found:
                  summary: Error response when the provided secret API key does not exist.
                  value:
                    error:
                      code: token_not_found
                      message: secret key is not found
                403-wrong-region:
                  summary: Error response when the API region does not match the region of your Fingerprint workspace.
                  value:
                    error:
                      code: wrong_region
                      message: wrong region
        '500':
          description: Application error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                500-error:
                  summary: Request failed
                  value:
                    error:
                      code: failed
                      message: internal server error
  /webhook:
    trace:
      operationId: postWebhook
      summary: Dummy path to describe webhook format.
      tags:
        - Fingerprint
      description: Fake path to describe webhook format. More information about webhooks can be found in the [documentation](https://dev.fingerprint.com/docs/webhooks)
      x-flatten-optional-params: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '400':
          description: Bad request. Dummy 400 response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
              examples:
                webhook-example:
                  summary: Webhook example
                  value:
                    time: '2019-10-12T07:20:50.52Z'
                    linked_id: somelinkedId
                    timestamp: 1708102555327
                    event_id: 1708102555327.NLOjmg
                    tags:
                      requestType: signup
                      yourCustomId: 45321
                    url: https://www.example.com/login?hope{this{works[!
                    ip_address: 94.142.239.124
                    user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                    browser_details:
                      browser_name: Chrome
                      browser_major_version: '74'
                      browser_full_version: 74.0.3729
                      os: Windows
                      os_version: '7'
                      device: Other
                    identification:
                      visitor_id: Ibk1527CUFmcnjLwIs4A9
                      confidence:
                        score: 0.97
                      visitor_found: false
                    bot: not_detected
                    root_apps: false
                    emulator: false
                    ip_info:
                      v4:
                        address: 94.142.239.124
                        geolocation:
                          accuracy_radius: 20
                          latitude: 50.05
                          longitude: 14.4
                          postal_code: 150 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - iso_code: '10'
                              name: Hlavni mesto Praha
                        asn:
                          asn: '7922'
                          name: COMCAST-7922
                          network: 73.136.0.0/13
                        datacenter:
                          result: true
                          name: DediPath
                      v6:
                        address: 2001:db8:3333:4444:5555:6666:7777:8888
                        geolocation:
                          accuracy_radius: 5
                          latitude: 49.982
                          longitude: 36.2566
                          postal_code: '10112'
                          timezone: Europe/Berlin
                          city:
                            name: Berlin
                          country:
                            code: DE
                            name: Germany
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - iso_code: BE
                              name: Land Berlin
                        asn:
                          asn: '6805'
                          name: Telefonica Germany
                          network: 2a02:3100::/24
                        datacenter:
                          result: false
                          name: ''
                    ip_block_list:
                      email_spam: false
                      attack_source: false
                      tor_node: false
                      proxy: true
                      proxy_confidence: low
                    vpn: false
                    vpn_confidence: high
                    vpn_origin_timezone: Europe/Berlin
                    vpn_origin_country: unknown
                    vpn_methods:
                      timezone_mismatch: false
                      public_vpn: false
                      auxiliary_mobile: false
                      os_mismatch: false
                      relay: false
                    incognito: false
                    tampering: false
                    tampering_details:
                      anomaly_score: 0.1955
                      anti_detect_browser: false
                    cloned_app: false
                    factory_reset:
                      time: '1970-01-01T00:00:00Z'
                      timestamp: 0
                    jailbroken: false
                    frida: false
                    privacy_settings: false
                    virtual_machine: false
                    location_spoofing: false
                    remote_control: false
                    velocity:
                      distinct_ip:
                        5m: 1
                        1h: 1
                        24h: 1
                      distinct_country:
                        5m: 1
                        1h: 2
                        24h: 2
                      events:
                        5m: 1
                        1h: 5
                        24h: 5
                      ip_events:
                        5m: 1
                        1h: 5
                        24h: 5
                      distinct_ip_by_linked_id:
                        5m: 1
                        1h: 5
                        24h: 5
                      distinct_visitor_id_by_linked_id:
                        5m: 1
                        1h: 5
                        24h: 5
                    developer_tools: false
                    mitm_attack: false
        default:
          description: Dummy for the schema
      callbacks:
        webhook:
          webhook:
            post:
              summary: Webhook example
              description: You can use HTTP basic authentication and set up credentials in your [Fingerprint account](https://dashboard.fingerprint.com/login)
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/Event'
              responses:
                '400':
                  description: Bad request. Dummy 400 response.
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/Event'
                      examples:
                        webhook-example:
                          summary: Webhook example
                          value:
                            time: '2019-10-12T07:20:50.52Z'
                            linked_id: somelinkedId
                            timestamp: 1708102555327
                            event_id: 1708102555327.NLOjmg
                            tags:
                              requestType: signup
                              yourCustomId: 45321
                            url: https://www.example.com/login?hope{this{works[!
                            ip_address: 94.142.239.124
                            user_agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                            browser_details:
                              browser_name: Chrome
                              browser_major_version: '74'
                              browser_full_version: 74.0.3729
                              os: Windows
                              os_version: '7'
                              device: Other
                            identification:
                              visitor_id: Ibk1527CUFmcnjLwIs4A9
                              confidence:
                                score: 0.97
                              visitor_found: false
                            bot: not_detected
                            root_apps: false
                            emulator: false
                            ip_info:
                              v4:
                                address: 94.142.239.124
                                geolocation:
                                  accuracy_radius: 20
                                  latitude: 50.05
                                  longitude: 14.4
                                  postal_code: 150 00
                                  timezone: Europe/Prague
                                  city:
                                    name: Prague
                                  country:
                                    code: CZ
                                    name: Czechia
                                  continent:
                                    code: EU
                                    name: Europe
                                  subdivisions:
                                    - iso_code: '10'
                                      name: Hlavni mesto Praha
                                asn:
                                  asn: '7922'
                                  name: COMCAST-7922
                                  network: 73.136.0.0/13
                                datacenter:
                                  result: true
                                  name: DediPath
                              v6:
                                address: 2001:db8:3333:4444:5555:6666:7777:8888
                                geolocation:
                                  accuracy_radius: 5
                                  latitude: 49.982
                                  longitude: 36.2566
                                  postal_code: '10112'
                                  timezone: Europe/Berlin
                                  city:
                                    name: Berlin
                                  country:
                                    code: DE
                                    name: Germany
                                  continent:
                                    code: EU
                                    name: Europe
                                  subdivisions:
                                    - iso_code: BE
                                      name: Land Berlin
                                asn:
                                  asn: '6805'
                                  name: Telefonica Germany
                                  network: 2a02:3100::/24
                                datacenter:
                                  result: false
                                  name: ''
                            ip_block_list:
                              email_spam: false
                              attack_source: false
                              tor_node: false
                              proxy: true
                              proxy_confidence: low
                            vpn: false
                            vpn_confidence: high
                            vpn_origin_timezone: Europe/Berlin
                            vpn_origin_country: unknown
                            vpn_methods:
                              timezone_mismatch: false
                              public_vpn: false
                              auxiliary_mobile: false
                              os_mismatch: false
                              relay: false
                            incognito: false
                            tampering: false
                            tampering_details:
                              anomaly_score: 0.1955
                              anti_detect_browser: false
                            cloned_app: false
                            factory_reset:
                              time: '1970-01-01T00:00:00Z'
                              timestamp: 0
                            jailbroken: false
                            frida: false
                            privacy_settings: false
                            virtual_machine: false
                            location_spoofing: false
                            remote_control: false
                            velocity:
                              distinct_ip:
                                5m: 1
                                1h: 1
                                24h: 1
                              distinct_country:
                                5m: 1
                                1h: 2
                                24h: 2
                              events:
                                5m: 1
                                1h: 5
                                24h: 5
                              ip_events:
                                5m: 1
                                1h: 5
                                24h: 5
                              distinct_ip_by_linked_id:
                                5m: 1
                                1h: 5
                                24h: 5
                              distinct_visitor_id_by_linked_id:
                                5m: 1
                                1h: 5
                                24h: 5
                            developer_tools: false
                            mitm_attack: false
                default:
                  description: The server doesn't validate the answer.
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Auth-Api-Key
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
  schemas:
    BrowserDetails:
      type: object
      additionalProperties: false
      required:
        - browser_name
        - browser_full_version
        - browser_major_version
        - os
        - os_version
        - device
      properties:
        browser_name:
          type: string
        browser_major_version:
          type: string
        browser_full_version:
          type: string
        os:
          type: string
        os_version:
          type: string
        device:
          type: string
    SDK:
      type: object
      description: Contains information about the SDK used to perform the request.
      additionalProperties: false
      required:
        - platform
        - version
      properties:
        platform:
          type: string
          description: Platform of the SDK.
        version:
          type: string
          description: SDK version string.
    BotResult:
      type: string
      enum:
        - not_detected
        - good
        - bad
      description: |
        Bot detection result:
         * `not_detected` - the visitor is not a bot
         * `good` - good bot detected, such as Google bot, Baidu Spider, AlexaBot and so on
         * `bad` - bad bot detected, such as Selenium, Puppeteer, Playwright, headless browsers, and so on
    ClonedApp:
      type: boolean
      description: |
        Android specific cloned application detection. There are 2 values:  * `true` - Presence of app cloners work detected (e.g. fully cloned application found or launch of it inside of a not main working profile detected). * `false` - No signs of cloned application detected or the client is not Android.
    DeveloperTools:
      type: boolean
      description: |
        `true` if the browser is Chrome with DevTools open or Firefox with Developer Tools open, `false` otherwise.
    Emulator:
      type: boolean
      description: |
        Android specific emulator detection. There are 2 values: 
        * `true` - Emulated environment detected (e.g. launch inside of AVD). 
        * `false` - No signs of emulated environment detected or the client is not Android.
    FactoryReset:
      type: object
      additionalProperties: false
      required:
        - time
        - timestamp
      properties:
        time:
          type: string
          format: date-time
          description: |
            Indicates the time (in UTC) of the most recent factory reset that happened on the **mobile device**. 
            When a factory reset cannot be detected on the mobile device or when the request is initiated from a browser,  this field will correspond to the *epoch* time (i.e 1 Jan 1970 UTC).
            See [Factory Reset Detection](https://dev.fingerprint.com/docs/smart-signals-overview#factory-reset-detection) to learn more about this Smart Signal.
        timestamp:
          type: integer
          format: int64
          description: |
            This field is just another representation of the value in the `time` field.
            The time of the most recent factory reset that happened on the **mobile device** is expressed as Unix epoch time.       
    Frida:
      type: boolean
      description: |
        [Frida](https://frida.re/docs/) detection for Android and iOS devices. There are 2 values:
        * `true` - Frida detected
        * `false` - No signs of Frida or the client is not a mobile device.
    ProxyDetails:
      type: object
      nullable: true
      additionalProperties: false
      description: Proxy detection details (present if `proxy` is `true`)
      required:
        - proxy_type
      properties:
        proxy_type:
          type: string
          enum:
            - residential
            - data_center
          description: |
            Residential proxies use real user IP addresses to appear as legitimate traffic, 
            while data center proxies are public proxies hosted in data centers
        last_seen_at:
          type: string
          format: date-time
          x-ogen-time-format: '2006-01-02T15:00:00Z'
          description: |
            ISO 8601 formatted timestamp in UTC with hourly resolution
            of when this IP was last seen as a proxy
    IPBlockList:
      type: object
      additionalProperties: false
      properties:
        email_spam:
          type: boolean
          description: IP address was part of a known email spam attack (SMTP).
        attack_source:
          type: boolean
          description: IP address was part of a known network attack (SSH/HTTPS).
        proxy:
          type: boolean
          description: |
            IP address was used by a public proxy provider or belonged to a known recent residential proxy
        proxy_confidence:
          type: string
          enum:
            - low
            - medium
            - high
          description: |
            Confidence level of the proxy detection.
            If a proxy is not detected, confidence is "high".
            If it's detected, can be "low", "medium", or "high".
        proxy_details:
          $ref: '#/components/schemas/ProxyDetails'
        tor_node:
          type: boolean
          description: IP address was part of known TOR network activity.
    Geolocation:
      type: object
      additionalProperties: false
      properties:
        accuracy_radius:
          type: integer
          minimum: 0
          description: The IP address is likely to be within this radius (in km) of the specified location.
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        postal_code:
          type: string
        timezone:
          type: string
          format: timezone
        city:
          type: object
          additionalProperties: false
          required:
            - name
          properties:
            name:
              type: string
        country:
          type: object
          additionalProperties: false
          required:
            - code
            - name
          properties:
            code:
              type: string
              minLength: 2
              maxLength: 2
            name:
              type: string
        continent:
          type: object
          additionalProperties: false
          required:
            - code
            - name
          properties:
            code:
              type: string
              minLength: 2
              maxLength: 2
            name:
              type: string
        subdivisions:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - iso_code
              - name
            properties:
              iso_code:
                type: string
              name:
                type: string
    IPInfoASN:
      type: object
      additionalProperties: false
      required:
        - asn
        - name
        - network
      properties:
        asn:
          type: string
        name:
          type: string
        network:
          type: string
    IPInfoDataCenter:
      type: object
      additionalProperties: false
      required:
        - result
        - name
      properties:
        result:
          type: boolean
        name:
          type: string
    IPInfoV4:
      type: object
      additionalProperties: false
      required:
        - address
        - geolocation
      properties:
        address:
          type: string
          format: ipv4
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        asn:
          $ref: '#/components/schemas/IPInfoASN'
        datacenter:
          $ref: '#/components/schemas/IPInfoDataCenter'
    IPInfoV6:
      type: object
      additionalProperties: false
      required:
        - address
        - geolocation
      properties:
        address:
          type: string
          format: ipv6
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        asn:
          $ref: '#/components/schemas/IPInfoASN'
        datacenter:
          $ref: '#/components/schemas/IPInfoDataCenter'
    IPInfo:
      type: object
      description: Details about the request IP address. Has separate fields for v4 and v6 IP address versions.
      additionalProperties: false
      properties:
        v4:
          $ref: '#/components/schemas/IPInfoV4'
        v6:
          $ref: '#/components/schemas/IPInfoV6'
    IdentificationConfidence:
      type: object
      additionalProperties: false
      required:
        - score
      properties:
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: The confidence score is a floating-point number between 0 and 1 that represents the probability of accurate identification.
        revision:
          type: string
          description: The revision name of the method used to calculate the Confidence score. This field is only present for customers who opted in to an alternative calculation method.
        comment:
          type: string
    Identification:
      type: object
      additionalProperties: false
      required:
        - visitor_id
        - visitor_found
      properties:
        visitor_id:
          type: string
          description: String of 20 characters that uniquely identifies the visitor's browser.
        confidence:
          $ref: '#/components/schemas/IdentificationConfidence'
        visitor_found:
          type: boolean
          description: Attribute represents if a visitor had been identified before.
    Incognito:
      type: boolean
      description: |
        `true` if we detected incognito mode used in the browser, `false` otherwise.
    Jailbroken:
      type: boolean
      description: |
        iOS specific jailbreak detection. There are 2 values: 
        * `true` - Jailbreak detected.
        * `false` - No signs of jailbreak or the client is not iOS.
    LocationSpoofing:
      type: boolean
      description: Flag indicating whether the request came from a mobile device with location spoofing enabled.
    MitMAttack:
      type: boolean
      description: |
        * `true` - When requests made from your users' mobile devices to Fingerprint servers have been intercepted and potentially modified. 
        * `false` - Otherwise or when the request originated from a browser.
        See [MitM Attack Detection](https://dev.fingerprint.com/docs/smart-signals-reference#mitm-attack-detection) to learn more about this Smart Signal.
    PrivacySettings:
      type: boolean
      description: |
        `true` if the request is from a privacy aware browser (e.g. Tor) or from a browser in which fingerprinting is blocked. Otherwise `false`.
    RemoteControl:
      type: boolean
      deprecated: true
      description: |
        This signal is deprecated.
        `true` if the request came from a machine being remotely controlled (e.g. TeamViewer), `false` otherwise.
    RootApps:
      type: boolean
      description: |
        Android specific root management apps detection. There are 2 values: 
        * `true` - Root Management Apps detected (e.g. Magisk).
        * `false` - No Root Management Apps detected or the client isn't Android.
    SuspectScore:
      type: integer
      description: |
        Suspect Score is an easy way to integrate Smart Signals into your fraud protection work flow.  It is a weighted representation of all Smart Signals present in the payload that helps identify suspicious activity. The value range is [0; S] where S is sum of all Smart Signals weights.  See more details here: https://dev.fingerprint.com/docs/suspect-score
    TamperingDetails:
      type: object
      additionalProperties: false
      properties:
        anomaly_score:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: |
            Confidence score (`0.0 - 1.0`) for tampering detection:
              * Values above `0.5` indicate tampering.
              * Values below `0.5` indicate genuine browsers.
        anti_detect_browser:
          type: boolean
          description: |
            True if the identified browser resembles an "anti-detect" browser, such as Incognition, which attempts to evade identification by manipulating its fingerprint. 
    VelocityData:
      type: object
      description: |
        Is absent if the velocity data could not be generated for the visitor Id.
      additionalProperties: false
      required:
        - 5m
        - 1h
      properties:
        5m:
          type: integer
        1h:
          type: integer
        24h:
          type: integer
          description: |
            The `24h` interval of `distinct_ip`, `distinct_linked_id`, `distinct_country`, `distinct_ip_by_linked_id` and `distinct_visitor_id_by_linked_id` will be omitted if the number of `events` for the visitor Id in the last 24 hours (`events.['24h']`) is higher than 20.000.
    Velocity:
      type: object
      description: |
        Sums key data points for a specific `visitor_id`, `ip_address` and `linked_id` at three distinct time
        intervals: 5 minutes, 1 hour, and 24 hours as follows: 

        - Number of distinct IP addresses associated to the visitor Id.
        - Number of distinct linked Ids associated with the visitor Id.
        - Number of distinct countries associated with the visitor Id.
        - Number of identification events associated with the visitor Id.
        - Number of identification events associated with the detected IP address.
        - Number of distinct IP addresses associated with the provided linked Id.
        - Number of distinct visitor Ids associated with the provided linked Id.

        The `24h` interval of `distinct_ip`, `distinct_linked_id`, `distinct_country`,
        `distinct_ip_by_linked_id` and `distinct_visitor_id_by_linked_id` will be omitted 
        if the number of `events` for the visitor Id in the last 24
        hours (`events.['24h']`) is higher than 20.000.

        All will not necessarily be returned in a response, some may be omitted if the 
        associated event does not have the required data, such as a linked_id.
      additionalProperties: false
      properties:
        distinct_ip:
          $ref: '#/components/schemas/VelocityData'
        distinct_linked_id:
          $ref: '#/components/schemas/VelocityData'
        distinct_country:
          $ref: '#/components/schemas/VelocityData'
        events:
          $ref: '#/components/schemas/VelocityData'
        ip_events:
          $ref: '#/components/schemas/VelocityData'
        distinct_ip_by_linked_id:
          $ref: '#/components/schemas/VelocityData'
        distinct_visitor_id_by_linked_id:
          $ref: '#/components/schemas/VelocityData'
    VirtualMachine:
      type: boolean
      description: |
        `true` if the request came from a browser running inside a virtual machine (e.g. VMWare), `false` otherwise.
    VPNConfidence:
      type: string
      enum:
        - low
        - medium
        - high
      description: A confidence rating for the VPN detection result — "low", "medium", or "high". Depends on the combination of results returned from all VPN detection methods.
    VPNMethods:
      type: object
      additionalProperties: false
      required:
        - timezone_mismatch
        - public_vpn
        - auxiliary_mobile
        - os_mismatch
        - relay
      properties:
        timezone_mismatch:
          type: boolean
          description: The browser timezone doesn't match the timezone inferred from the request IP address.
        public_vpn:
          type: boolean
          description: Request IP address is owned and used by a public VPN service provider.
        auxiliary_mobile:
          type: boolean
          description: This method applies to mobile devices only. Indicates the result of additional methods used to detect a VPN in mobile devices.
        os_mismatch:
          type: boolean
          description: The browser runs on a different operating system than the operating system inferred from the request network signature.
        relay:
          type: boolean
          description: |
            Request IP address belongs to a relay service provider, indicating the use of relay services like [Apple Private relay](https://support.apple.com/en-us/102602) or [Cloudflare Warp](https://developers.cloudflare.com/warp-client/). 

            * Like VPNs, relay services anonymize the visitor's true IP address.
            * Unlike traditional VPNs, relay services don't let visitors spoof their location by choosing an exit node in a different country.

            This field allows you to differentiate VPN users and relay service users in your fraud prevention logic.
    Event:
      type: object
      description: Contains results from all active products - Fingerprint Pro, Bot Detection, and others.
      additionalProperties: false
      properties:
        event_id:
          type: string
          description: Unique identifier of the user's request.
        timestamp:
          description: Timestamp of the event with millisecond precision in Unix time.
          type: integer
          format: int64
        tags:
          type: object
          description: A customer-provided value or an object that was sent with the identification request or updated later.
          additionalProperties: true
        linked_id:
          type: string
          description: A customer-provided id that was sent with the request.
        url:
          type: string
          description: Page URL from which the request was sent.
        ip_address:
          type: string
          description: IP address of the requesting browser or bot.
        user_agent:
          type: string
        browser_details:
          $ref: '#/components/schemas/BrowserDetails'
        suspect:
          description: Field is `true` if you have previously set the `suspect` flag for this event using the [Server API Update event endpoint](https://dev.fingerprint.com/reference/updateevent).
          type: boolean
        sdk:
          $ref: '#/components/schemas/SDK'
        bot:
          $ref: '#/components/schemas/BotResult'
        bot_type:
          type: string
          description: |
            Additional classification of the bot type if detected.
        cloned_app:
          $ref: '#/components/schemas/ClonedApp'
        developer_tools:
          $ref: '#/components/schemas/DeveloperTools'
        emulator:
          $ref: '#/components/schemas/Emulator'
        factory_reset:
          $ref: '#/components/schemas/FactoryReset'
        frida:
          $ref: '#/components/schemas/Frida'
        ip_block_list:
          $ref: '#/components/schemas/IPBlockList'
        ip_info:
          $ref: '#/components/schemas/IPInfo'
        identification:
          $ref: '#/components/schemas/Identification'
        incognito:
          $ref: '#/components/schemas/Incognito'
        jailbroken:
          $ref: '#/components/schemas/Jailbroken'
        location_spoofing:
          $ref: '#/components/schemas/LocationSpoofing'
        mitm_attack:
          $ref: '#/components/schemas/MitMAttack'
        privacy_settings:
          $ref: '#/components/schemas/PrivacySettings'
        remote_control:
          $ref: '#/components/schemas/RemoteControl'
        root_apps:
          $ref: '#/components/schemas/RootApps'
        suspect_score:
          $ref: '#/components/schemas/SuspectScore'
        tampering:
          type: boolean
          description: |
            Flag indicating browser tampering was detected. This happens when either:
              * There are inconsistencies in the browser configuration that cross internal tampering thresholds (see `tampering_details.anomaly_score`).
              * The browser signature resembles an "anti-detect" browser specifically designed to evade fingerprinting (see `tampering_details.anti_detect_browser`).
        tampering_details:
          $ref: '#/components/schemas/TamperingDetails'
        velocity:
          $ref: '#/components/schemas/Velocity'
        virtual_machine:
          $ref: '#/components/schemas/VirtualMachine'
        vpn:
          type: boolean
          description: |
            VPN or other anonymizing service has been used when sending the request.
        vpn_confidence:
          $ref: '#/components/schemas/VPNConfidence'
        vpn_origin_timezone:
          type: string
          description: |
            Local timezone which is used in timezone_mismatch method.
        vpn_origin_country:
          type: string
          description: |
            Country of the request (only for Android SDK version >= 2.4.0, ISO 3166 format or unknown).
        vpn_methods:
          $ref: '#/components/schemas/VPNMethods'
        replayed:
          type: boolean
          description: |
            `true` if we determined that this payload was replayed, `false` otherwise.
        triggered_by:
          type: array
          description: The rule(s) associated with triggering the webhook via rule engine.
          items:
            type: object
            additionalProperties: false
            required:
              - id
              - name
              - description
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
        environment_id:
          type: string
          description: Environment ID of the event.
        time:
          type: string
          format: date-time
          x-ogen-time-format: 2006-01-02T15:04:05.999Z07:00
          description: Time expressed according to ISO 8601 in UTC format, when the request from the JS agent was made. We recommend to treat requests that are older than 2 minutes as malicious. Otherwise, request replay attacks are possible.
    ErrorCode:
      type: string
      enum:
        - request_cannot_be_parsed
        - token_required
        - token_not_found
        - subscription_not_active
        - wrong_region
        - feature_not_enabled
        - request_not_found
        - visitor_not_found
        - too_many_requests
        - state_not_ready
        - failed
        - event_not_found
      description: |
        Error code:
        * `request_cannot_be_parsed` - the query parameters or JSON payload contains some errors
          that prevented us from parsing it (wrong type/surpassed limits).
        * `token_required` - `Auth-Api-Key` header is missing or empty.
        * `token_not_found` - no Fingerprint application found for specified secret key.
        * `subscription_not_active` - Fingerprint application is not active.
        * `wrong_region` - server and application region differ.
        * `feature_not_enabled` - this feature (for example, Delete API) is not enabled for your application.
        * `request_not_found` - the specified event Id was not found. It never existed, expired, or it has been deleted.
        * `visitor_not_found` - The specified visitor Id was not found. It never existed or it may have already been deleted.
        * `too_many_requests` - the limit on secret API key requests per second has been exceeded.
        * `state_not_ready` - The event specified with event Id is
          not ready for updates yet. Try again.
          This error happens in rare cases when update API is called immediately
          after receiving the event Id on the client. In case you need to send
          information right away, we recommend using the JS agent API instead.
        * `failed` - internal server error.
        * `event_not_found` - The specified event ID was not found. It never existed, expired, or it has been deleted.
    Error:
      type: object
      additionalProperties: false
      required:
        - code
        - message
      properties:
        code:
          $ref: '#/components/schemas/ErrorCode'
        message:
          type: string
    ErrorResponse:
      type: object
      additionalProperties: false
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
    EventUpdate:
      type: object
      properties:
        linked_id:
          type: string
          description: Linked Id value to assign to the existing event
        tags:
          type: object
          description: A customer-provided value or an object that was sent with the identification request or updated later.
          additionalProperties: true
        suspect:
          type: boolean
          description: Suspect flag indicating observed suspicious or fraudulent event
          x-go-force-pointer: true
    EventSearch:
      type: object
      description: Contains a list of all identification events matching the specified search criteria.
      additionalProperties: false
      required:
        - events
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        pagination_key:
          type: string
          description: Use this value in the `pagination_key` parameter to request the next page of search results.
